@using Com.GriffithsBen.BloggableMVC.Concrete;
@using Com.GriffithsBen.BloggableMVC.Extensions;
@model SmartBloggable

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.ContentHtml)
        </dt>

        <dd>
            @Html.BlogContentFor(m => m.Content, new { @class = "bloggable-root" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SynopsisHtml)
        </dt>

        <dd>
            @Model.SynopsisHtml
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

        <dt>
            Validation summary
        </dt>

        <dd>
            @if (Model.IsValid) {
                <text>Markup is valid</text>
            }
            else {

                IEnumerable<string> errors = Model.ValidationErrors;
                if (errors.Any()) {
                    <h5>Errors</h5>
                    <ul>
                        @foreach (string error in errors) {
                            <li>@error</li>
                        }
                    </ul>
                }
            }
            @{ IEnumerable<string> warnings = Model.ValidationWarnings; }
            @if (warnings.Any()) {
                <h5>Warnings</h5>
                <ul>
                    @foreach (string warning in warnings) {
                        <li>@warning</li>
                    }
                </ul>
            }

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { Id = Model.ModelData["Id"] }) |
    @Html.ActionLink("Back to List", "Index")
</p>
